<div class="bottom">
    <div class="footer" style="padding-top: 120px; clear: both; vertical-align: bottom;
                                      padding: 30px 0 0;">
        <p style="color: #999; text-align: center; font-family: 宋体">
            任何建议和意见，请发邮件至：<a href="mailto:crm@cig.com.cn">crm@cig.com.cn</a>
        </p>
        <p style="color: #999; text-align: center; line-height: 24px; vertical-align: bottom;
                                                                                                                                                                                                                                 font-family: 宋体">
            <span style="font-family: Times New Roman">CopyRight &#169; 2002-@DateTime.Now.Year
                CIG,All Rights Reserved</span> 版权所有 北京新意互动数字技术有限公司</p>
    </div>
</div>